<h1>Create Tweet</h1>

<form action="/tweets" method="post">
  <label for="content">content:</label><br>
  <textarea rows="5" cols="80" name="content" id="content"></textarea>
  <br><br>

  <input type="submit" name="submit" id="submit" value="tweet!">
</form>
