<h1>Create Tweet</h1>

<form action="/tweets" method="post">
  <textarea rows="5" cols="70" name="content" id="content"></textarea>
  <br><br>

  <input type="submit" name="submit" id="submit" value="Tweet!">
</form>
