<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="post">
  <label for="content">content:</label><br>
  <textarea rows="5" cols="80" name="content" id="content"><%= @tweet.content %></textarea>
  <br><br>

  <input type="submit" name="submit" id="submit" value="edit">
</form>
