<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <nav>
      <a href="/">Fwitter</a>
      <%= '<a href="/logout"> Logout </a>' if logged_in? %>
    </nav>

    <%= yield %>

  </body>
</html>
